In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

data = pd.read_csv('BankCustomerData.csv')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,term_deposit
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

# **1. Data Preprocessing**

In [ ]:
dataframe = pd.get_dummies(data, drop_first=True)
dataframe['subscribed'] = (data['balance']> 50).astype(int)

# **2. Feature Selection**

In [ ]:
X = dataframe.drop(['balance','duration','pdays','subscribed'], axis=1)
Y = dataframe['subscribed']

# **3. Data Splitting**

In [ ]:
X_train, X_test , Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

# **4. Model Training**

In [ ]:
scale = StandardScaler()
X_train_scale = scale.fit_transform(X_train)
X_test_scale = scale.fit_transform(X_test)

# **5. Model Evaluation**

In [ ]:
model = LogisticRegression()
model.fit(X_train_scale, Y_train)

Y_pred = model.predict(X_test_scale)
accuracy = accuracy_score(Y_test, Y_pred)
conf_matrix = confusion_matrix(Y_test, Y_pred)
class_report = classification_report(Y_test, Y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix: {conf_matrix}")
print(f"Classification Report: {class_report}")

Accuracy: 0.7716932457786116
Confusion Matrix: [[ 127 1912]
 [  35 6454]]
Classification Report:               precision    recall  f1-score   support

           0       0.78      0.06      0.12      2039
           1       0.77      0.99      0.87      6489

    accuracy                           0.77      8528
   macro avg       0.78      0.53      0.49      8528
weighted avg       0.77      0.77      0.69      8528

# **6. Conclusion**

In [ ]:
print("""
I think the bank's advertising tactics work well since they
correctly estimate the identity of the term depositors. The forecasts
prove to be reliable and accurate.
""")

I believe that the bank's marketing strategies are effective because they
accurately predict who will subscribe to a term deposit. The predictions
turn out to be correct and precise.